Update Figure:<br/>
<form method="post" action="/figures/<%= @figure.id %>">
  <input name="method" type="_hidden" value="patch">
  <% Title.all.each do |t| %>
    Title: <input type="checkbox" name="figure[title_ids][]" id="title_<%= t.id %>" value="<%= t.id %>" <%= "checked" if @figure.titles.include?(t) %> > <%= t.name %><br/>
  <% end %>
  or enter Title: <input type="text" name="title[name]" id="new_title"><br/>
  Figure Name: <input type="text" name="figure[name]" id="figure_name" value=
  "<%= @figure.name %>"><br/>
  Landmark Name: <input type="text" name="landmark[name]" id="new_landmark" value="<%= @figure.landmarks.first.name %>"><br/>


  <input type="submit" value="Edit Figure">
</form>