Update Figure:<br/>
<form method="post" action="/figures/<%= @figure.id %>">
  <input name="method" type="_hidden" value="patch">
  Titles: <br/>
  <% Title.all.each do |t| %>
    <%= t.name %><input type="checkbox" name="figure[title_ids][]" id="title_<%= t.id %>" value="<%= t.id %>"<%="checked" if @figure.titles.include?(t) %>><br/>
  <% end %>


  <input type="submit" value="Edit Figure">
</form>